---
import Icon from './Icon.astro'
---

<div class="dock dock-md">
  <button>
        <Icon name="home" />
    <span class="dock-label">Home</span>
  </button>
 
  <button>
        <Icon name="settings" />
    <span class="dock-label">Settings</span>
  </button>
</div>
