---
import Icon from './Icon.astro'
---

<div class="dock dock-md">
  <a href="/">
        <Icon name="home" />
    <span class="dock-label">Inicio</span>
  </a>
 
  <a href="/exercises">
        <Icon name="arm" />
    <span class="dock-label">Ejercicios</span>
  </a>
</div>
