---
const props = Astro.props;
---

<select class="select select-primary">
  <option>Biceps</option>
  <option>Back</option>
  <option>Quads</option>
  <option>Triceps</option>
  <option>Shoulders</option>
</select>
