---
import Layout from '../layouts/Layout.astro';
import ExercisesList from '../components/svelte/ExerciseList.svelte';
import MuscleFilter from '../components/svelte/MuscleFilter.svelte'

---

<Layout title="Ejercicios">
  <div class="flex flex-col items-center">
    <h1 class='text-3xl font-bold text-center' >Listado de ejercicios</h1>
    <div class="mt-4 w-full flex flex-col gap-4">
      <MuscleFilter client:load />
      <ExercisesList client:load />
    </div>
    
  </div>
</Layout>

