---
import Layout from '../layouts/Layout.astro';
import ExercisesList from '../components/svelte/ExerciseList.svelte';
import Filter from '../components/svelte/Filter.svelte'
---

<Layout title="Ejercicios">
  <div class='flex flex-col items-center gap-4 mb-8'>
    <h1 class='text-3xl font-bold' >Listado de ejercicios</h1>
    <ExercisesList client:load />
  </div>
</Layout>

