---
import Layout from '../layouts/Layout.astro';
import MuscleDiagram from '../components/svelte/MuscleDiagram.svelte'
---

<Layout>
  <div>
    <h1>Workout Logger</h1>
    <MuscleDiagram client:load initialView="front" />
  </div>
</Layout>

