---

import Layout from '../../../layouts/Layout.astro'
import ExerciseStats from '../../../components/svelte/ExerciseStats.svelte'
const { muscle } = Astro.params;
---

<Layout>
    <h1>Stats for {muscle}</h1>
    <ExerciseStats muscle={muscle} />
</Layout>
